<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    
    
    <title>Primer Ejercicio Vue</title>
</head>
<body>

    <h1>Agregar Tareas Vue</h1>

<div id="data"  > 
  

    <input  v-model="tarea" type="text">
    <button @click="agregarTarea" >Agregar Tarea</button>
    <button @click="limpiarPantalla">Limpiar</button>

    <ol>
        <li v-for="tarea of tareas" >{{tarea}}</li>
                
    </ol>
</div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

<script>

const prueba = new Vue ({

el:'#data',
data:{

tareas:[],
tarea:"",

},

  methods:{
    agregarTarea(){
        this.tareas.push(this.tarea)
        this.tarea = ""
    },

    limpiarPantalla(){
 
        this.tareas = ""
    }

  } ,

});

</script>

</body>
</html>